<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" />
  </head>
  <body>
  
    bhjvhjvj,

</body>
</html>